*{
    margin: 0;
    padding: 0;
}
.header {
    justify-content: flex-end;
    align-items: center;
    background-color: #fcd4f5;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #000;
    font-weight: 700;
    white-space: nowrap;
    padding: 1px 25px 0 60px;
    position: fixed;
    width:100%;
    top:0;
    z-index: 1000;
}
.header-content {
    justify-content: space-between;
    display: flex;
    width: 100%;
    max-width: 1152px;
    gap: 20px;
}
.logo {
    aspect-ratio: 1.2;
    object-fit: auto;
    object-position: center;
    width: 112px;
    max-width: 100%;
}
.nav-menu {
    justify-content: space-between;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: auto 0;
    padding: 0 1px;
}
.nav-item {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    padding: 1px 0;
    background: none;
    border: none;
    cursor: pointer;
}
.nav-link-internship {
    font-family: Poppins, sans-serif;
    justify-content: center;
    padding: 0 10px;
    color: #000;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
    font-size: 20px;
    font-weight: bold;
}

.nav-link-about,
.nav-link,
.nav-link-training,
.nav-link-blog,
.nav-link-contact {
    font-family: Poppins, sans-serif;
    justify-content: center;
    align-self: stretch;
    margin: auto 0;
    padding: 0 17px;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.nav-link-about:hover,
.nav-link:hover,
.nav-link-training:hover,
.nav-link-blog:hover,
.nav-link-contact:hover {
    color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}
@media (max-width: 991px) {
    .header {
        white-space: initial;
        padding: 0 20px;
    }
    .header-content {
        max-width: 100%;
        flex-wrap: wrap;
        white-space: initial;
    }
    .nav-menu {
        flex-wrap: wrap;
        white-space: initial;
    }
    .nav-item {
        white-space: initial;
    }
    .nav-link-internship {
        white-space: initial;
    }
    .nav-link-about,
    .nav-link,
    .nav-link-training,
    .nav-link-blog,
    .nav-link-contact {
        white-space: initial;
        padding: 0 20px;
    }
}
